API_ID=36265398
API_HASH=8a38324e086ebb8d8d03b2e382066c85
BOT_TOKEN=8776148435:AAH9yCk5Ujz99Obj2Y711Edg4IEz8jhMm4c
OWNER_ID=102283286
GEMINI_API_KEY=AQ.Ab8RN6KGC9lHVTOBDZsMSigf0gaFjSL3HEopTz8oULTM1_SGBA
GEMINI_MODEL=gemini-2.5-flash
SESSION_NAME=special_user
DB_PATH=storage/special.db
LOG_LEVEL=INFO
